<div class='main'>
  <div class='logo_calculation_area'>
    <div class='logo_setting_area'>
      <%= link_to image_tag("pcr.logo.png", class:"pcr-logo"), "/" %>
      <%= link_to image_tag("setting.logo.png", class:"setting-logo"), "/" %>
    </div>
    <div class='calculation_area'>
      <div class='calculation'>
        <%# <% @items.each do |item| %>
          <%# <%= render partial: "item", locals: { item: item } %>
        <%# <% end %>
      </div>
    </div>
  </div>

  <div class='menu_total_area'>

    <div class='total_area'>
      <div class='total'>
      </div>
    </div>

    <div class='menu_area'>
      <form>
        <input type="text" id="search_bar" placeholder="検索ワードを入力">
      </form>

      <%# <div class="search-result">
        <div class="search-result__hit-num"></div>
        <div id="search-result__list"></div>
      </div>
    </div>

    <ul class="target-area">
      <li>りんご120円</li>
      <li>ばなな100円</li>
      <li>みかん150円</li>
      <li>いちご220円</li>
      <li>すいか500円</li>
    </ul>
  </div><!-- /.wrapper -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script> %>
      <div class='category_menu_area'>
        <div class='category'>
          <% @items.each do |item| %>
            <%= render partial: "item", locals: { item: item } %>
          <% end %>
        </div>
        <div class='menu'>
        </div>
      </div>
    </div>
  
  </div>

</div>

