<%# <% @categories.each do |category| %>
  <%# <%= render partial: "category", locals: { category: category } %>
<%# <% end %> 

<% @categories.each do |category| %>
    <li>
      <%= link_to " #{category.category_name}", "categories/#{category.id}", style: "pointer-events: none;" %>
      <%= link_to " 削除 ", category_path(category.id),id: "deleteBtn", method: :delete %>
    </li>
<% end %>
