<div class="category_main">
  <div class='category_logo_area'>
    <%= link_to image_tag("pcr.logo.png", class:"category_pcr-logo"), "/" %>
  </div>

  <div class="category_list_area">
    <select name="category_list">
      <%@categories.each do |category|%>
        <option value=<%="#{category.category_name}"%>><%=category.category_name%></option>
      <% end %>
    </select>
  </div>
  <%= link_to "削除", category_path(@category.id), method: :delete, class:"destroy_btn" %>
</div>