<div class="new_main">
  <div class='new_logo_area'>
    <%= link_to image_tag("pcr.logo.png", class:"new_pcr-logo"), "/" %>
  </div>

  <div class="category_form_area">
    <%= form_with model: @category, class: "category_form", local: true do |f| %>
  
    <%= f.text_field :category_name, class:"category_text", id:"category-name", placeholder:"カテゴリー名（必須）", maxlength:"10" %>
  </div>
  <%= f.submit "追加" ,class:"add-btn" %>
</div>
<% end %>